<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% block title %}<title>Local Library</title>{% endblock %}
</head>
 <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>

        {% block style %}
        {% endblock %}

        body {
            background: url("{% static 'books-library-students-12064.jpg' %}");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }
    </style>
</head>
<body>


<div class="container-fluid my-auto">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">MY LIBRARY </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'books' %}">Books</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                </li>



                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_create' %}">Add Student</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'book_create' %}">Add Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_list' %}">StudentList</a>
                    </li>

                {% endif %}
                </li>
                    {% if user.is_authenticated %}
<div class="dropdown float">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      {{ request.user }}
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'book_student' %}">ISSUED_BOOK</a>
      <a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
                         {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
        {% endif %}
            </ul>

        </div>
    </nav>



    <br>
    <div class="row mt-5 mx-auto">
        <div class="col-sm-10">
            {% block content %}{% endblock %}


        </div>
    </div>

</div>
</body>
<script>
{% block javascript %}
{% endblock %}
</script>
</html>
